<div class="row col-12 align-items-stretch">
  <% @flats.each do |flat| %>
    <div class="card" style="width: 18rem; margin: 24px">
      <img src="https://source.unsplash.com/random" style="height: 18rem" class="card-img-top" alt="image">
      <div class="card-body">
        <h5 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.address %></p>
        <p class= "card-text"> <i class="fas fa-euro-sign"></i> <%= flat.price_per_night %> <i class="fas fa-user-friends"></i> <%= flat.number_of_guests %></p>
        <%= link_to "More info", flat_path(flat) %>
      </div>
    </div>
  <% end  %>
</div>
